.aimessage
{
	align-items: center;
	background-color: var(--clrWhite);
	color: var(--clrBlack);
	cursor: default;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
}

.aimessage .contents
{
	display: block;
	height: 100%;
	margin: 100px 0 100px 0;
	text-align: center;
	width: 80%;
}

.aimessage .contents .card
{
	align-items: center;
	background-color: var(--clrGrey2);
	box-shadow: 0 2px 4px var(--clrBlack);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: space-between;
	overflow: hidden;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.aimessage .contents .header
{
	background-color: var(--clrBase);
	border-radius: 10px;
	color: var(--clrWhite);
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 20px;
	padding: 5px 0;
	width: 100%;
}

.aimessage .contents .aimessage-container
{
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	text-align: left;
	width: 100%;
}

.aimessage .contents .aimessage-container .aimessage-system
{
	background-color: var(--clrWhite);
	border: 1px solid var(--clrBlack);
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 20px 10px;
	text-align: center;
	width: 90%;
}

.aimessage .contents .aimessage-container .aimessage-ai, .aimessage .contents .aimessage-container .aimessage-user
{
	border-radius: 10px;
	color: var(--clrWhite);
	margin-bottom: 15px;
	padding: 20px 20px;
	text-align: left;
	width: 50%;
}

.aimessage .contents .aimessage-container .aimessage-ai
{
	align-self: self-start;
	background-color: var(--clrGrey);
}

.aimessage .contents .aimessage-container .aimessage-user
{
	align-self: self-end;
	background-color: var(--clrGreen);
	margin-right: 5px;
}

.aimessage .contents .input-area
{
	display: flex;
	height: 80px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
}

.aimessage .contents .input-area input
{
	border: 1px solid rgba(var(--clrDarkGreyRGB), .5);
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
	width: 85%;
}

.aimessage .contents .input-area button
{
	background-color: var(--clrBase2);
	border: 0;
	border-radius: 5px;
	color: var(--clrWhite);
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 700;
	transition: all .3s;
	width: 15%;
}

.aimessage .contents .input-area button:hover
{
	background-color: var(--clrGreen);
}

@media (max-width: 1025px)
{
	.aimessage .contents
	{
		width: 85%;
	}

	.aimessage .contents .header
	{
		border-radius: 7px;
		font-size: 1.6em;
		font-weight: 550;
		margin-bottom: 15px;
	}

	.aimessage .contents .aimessage-container
	{
		font-size: .8em;
	}
}

@media (max-width: 769px)
{
	.aimessage .contents .header
	{
		font-size: 1.4em;
		font-weight: 500;
	}

	.aimessage .contents .input-area button
	{
		font-size: 1.1em;
		font-weight: 650;
	}
}

@media (max-width: 426px)
{
	.aimessage .contents
	{
		width: 90%;
	}

	.aimessage .contents .input-area button
	{
		font-size: .8em;
		font-weight: 600;
	}
}

@media (max-width: 376px)
{
	.aimessage .contents .header
	{
		border-radius: 5px;
		font-size: 1.3em;
		margin-bottom: 10px;
	}

	.aimessage .contents .aimessage-container
	{
		font-size: .6em;
	}

	.aimessage .contents .aimessage-container .aimessage-system
	{
		border-radius: 5px;
	}

	.aimessage .contents .aimessage-container .aimessage-ai, .aimessage .contents .aimessage-container .aimessage-user
	{
		border-radius: 5px;
	}

	.aimessage .contents .input-area input
	{
		width: 75%;
	}

	.aimessage .contents .input-area button
	{
		font-size: .7em;
		font-weight: 550;
		width: 25%;
	}
}